$base-space: 0.5rem;
$medium-space: $base-space * 2;
$color-error: #d37556;
$color-primary:  black;
$color-secondary:  #636c6e;
$color-success: #7aa39a;
$font-size-smaller: 0.8rem;
$font-size-big: 2rem;
$font-size-huge: $font-size-big *2;
$font-size-input: 1rem;
$max-width: 1200px;
* {
  box-sizing: border-box;
}
html {
  font-size: 1.2em;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: Tahoma, Geneva, sans-serif;
  color: $color-primary;
}

.huge {
  font-size: $font-size-huge;
}

.inputable {
  padding-bottom: $base-space;
  padding-left: $base-space;
  display: flex;
  flex-flow: column nowrap;
  input {
    flex-grow: 1;
  }
}
dl, .subForm {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: $base-space;
}
dl {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.subForm {
  grid-template-columns: 1fr 1fr;
}

dt , dd{
  display: inline-block;
}
dd {
  margin-inline-start: unset;
}

button {
  background-color: $color-secondary;
  color: $color-primary;
  border: none;
  margin-left: $base-space;
  margin-top: $medium-space;
  font-size: $font-size-big;
  &:hover {
    cursor: pointer;
    color: $color-secondary;
    background-color: $color-primary;
  }
}
.error {
  font-weight: bold;
  color: $color-error;
  font-size: $font-size-smaller;
}
label.required::after{
  content: ' *';
  font-size: $font-size-big;
}
label {
  text-transform: capitalize;
}
label, input {
  display: block;
}
.positive {
  color: $color-success;
}
.negative {
  color: $color-error;
}
.positive, .negative {
  text-transform: capitalize;
}
input {
  border: none;
  border-bottom: thin solid $color-primary;
  outline: none;
  width: 100%;
  font-size: $font-size-input;
  &:focus {
    border-bottom-color: $color-secondary;
    border-bottom-width: medium ;
  }
}
section {
  padding: $base-space;
}
select {
  box-shadow: none;
  background-color: unset;
}
input , select{
  border: none;
  border-bottom: thin solid $color-primary;
  outline: none;
  width: 100%;
  font-size: $font-size-input;
  &:focus {
    border-bottom-color: $color-secondary;
    border-bottom-width: medium ;
  }
}

.mainContainer {
  display: grid;
  grid-template-areas: "main summary";
  grid-template-rows: 1fr;
  grid-column-gap: $medium-space;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
}
.summaryContent{
  grid-area: summary;
}
.successContent,.mainContent {
  grid-area: main;
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    display: grid;
    grid-template-areas:
      "main"
      "summary";
    grid-template-rows: minmax(30vh,50%) auto;
    grid-row-gap: $medium-space;
    grid-template-columns:  1fr;
  }
  .successContent,.mainContent {
    overflow-y: scroll;
  }
  html {
    font-size: 1em;
  }
}